header {
    background: @seca0;
    color: @seca2;

    text-align: left;
    z-index: 100;
    width: 100%;
    vertical-align: center;
    position: relative;
    padding: .1em;

    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;

    div.title {
	padding: 1vmin;
	height: 16vmin;
	max-height: 72px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: stretch;
	
	img {
	    flex-grow: 0;
	    flex-shrink: 0;
	    height: 15vmin;
	    max-height: 72px;
	}

	h1 {
	    flex-grow: 1;
	    flex-shrink: 0;
	    flex-basis: 1px;
	    text-align: left;
	    margin-left: 1vmin;
	    font-size: 28px;
	    font-weight: blod;
	    .textshadow(2px;2px;4px;@secahard4);
	    font-family: Sniglet, 'Comic Sans MS', serif;
	}

	
    }

    nav {
	order: 1;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;

	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	align-items: flex-start;
	justify-content: space-around;
	align-content: flex-start;

	@media (min-width: 1000px) {
	    align-items: center;
	    justify-content: space-between;
	}

	color: @secahard4;
	margin-bottom: .5em;
	height: 2.4em;
	line-height: 2em;
	text-align: center;

	section {

	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    text-align: left;
	    width: 40%;

	    button {
		align-self: center;
		.borderradius(1.4em);
		box-shadow: 0 0 3px 0 @secahard4;
		padding: 0em 2em;
	    }

	    button:active {
		box-shadow: 0 0 10px 0 @secahard4 inset;
	    }

	    a, button {
		display: inline-block;
		color: @secahard4;
		background-color: @seca0;
		border: 1px solid @secahard4;
		line-height: 2em;
		height: 2.2em;
	    }
	
	    a {
		padding: 0em 1em;
		flex-grow: 0;
		flex-shrink: 0;
		text-decoration: none;
		@media (max-width: 1000px) {
		    display: none;
		}
	    }
	
	    @media (max-width: 1000px) {
		a:hover, button:hover {
		    color: @seca2;
		    background-color: @secahard4;
		}
	    }

	    @media (min-width: 1000px) {
		flex-direction: row;
		text-align: center;
		width: auto;

		button {
		    display: none;
		}

		a {
		    .borderradius(1.4em);
		    box-shadow: 0 0 3px 0 @secahard4;
		    margin: 0 1em;
		}

		a:active, a:hover {
		    box-shadow: 0 0 10px 0 @secahard4 inset;
		}

	    }


	    
	}
    }
}
	
