{% load i18n %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" 
      {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Baskerville{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<link rel="icon" href='{% static "images/logo-baskerville-piccolo.png" %}' 
      type="image/png"/>

<!--
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" 
      rel="stylesheet"/> 
-->

<!-- <script src="https://kit.fontawesome.com/398c6b2bdc.js"></script>-->


<!-- <link rel="stylesheet" type="text/css" 
      href='https://code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css'/> -->

<link rel="stylesheet" type="text/css" href='{% static "others/jquery-ui.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "others/fontawesome-free-5.15.1-web/css/all.css" %}'/>

<link rel="stylesheet" type="text/css" href='{% static "css/baskerville.css" %}'/>

</head>

<body>

<!-- 
     ----------------------------
     DOM
     ----------------------------
-->

<header>
  <div class="title">
    <a href="{% url 'home' %}">
      <img src="{% static "images/logo-baskerville.png" %}" alt="home"/>
    </a>
    <h1>Baskerville</h1>
  </div>

  <nav>
    <section id="sitemenu">
      <button id="sitemenu-open" data-target="#sitemenu" 
	      class="menu-opener" aria-label="site menu">
	<i class="fas fa-bars"></i>
      </button>

      <h2 class="hidden">{% trans "View menu" %}</h2>

      <a href="/">
	<i class="fa fa-home"></i> 
	{% trans "Home" %}
      </a>

      <a href="{% url "bibliography:index" %}">
	<i class="fa fa-university"></i> 
	{% trans "Library" %}
      </a>

      <a href="{% url "archive:index" %}">
	<i class="fa fa-archive"></i> 
	{% trans "Archive" %}
      </a>

      <a href="{% url "recipebook:index" %}">
	<i class="fa fa-book"></i> 
	{% trans "Recipe Book" %}
      </a>

      <a href="{% url "warehouse:index" %}">
	<i class="fa fa-warehouse"></i> 
	{% trans "Warehouse" %}
      </a>

    </section>
    
    <section id="usermenu">
      <button id="usermenu-open" data-target="#usermenu" 
	      class="menu-opener"  aria-label="site menu">
	<i class="fas fa-user"></i>
      </button>
      <h2 class="hidden">{% trans "User navigation" %}</h2>
      {% include "baskervilleauth/includes/user_links.html" %}
    </section>
    
  </nav>
  
</header>

<main>
  {% block content %}{% endblock %}
</main>

<!-- 
     ----------------------------
     javascript 
     ----------------------------
-->
  

<script type="text/javascript" src='{% static "others/jquery-3.5.1.min.js" %}'></script> 
<script type="text/javascript" src='{% static "others/jquery-ui.min.js" %}'></script>
<script type="text/javascript" src='{% static "others/luxon.min.js" %}'></script>
<script type="text/javascript" src='{% static "others/d3.v5.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery-ui-santaclara-widgets.js" %}'></script>

{% block script %}
<script type="text/javascript" src='{% static "js/default.min.js" %}'></script>
{% endblock script %}

</body>
</html>
