__pycache__
*.sqlite3
*.db
*.pyc
*.bak
*.log
preauth.sql
*~
web/
**/web/
**/settings.py
**/settings.py.*
baskervilleweb.2/
bin/
localbin/
*.old
**/*.data
old/
docs/
rawdata/
graphs/
backup/
apprimosse/
node_modules/
