{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Baskerville{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<link rel="icon" href='{% static "images/logo-baskerville-piccolo.png" %}' type="image/png"/>

<link rel="stylesheet" type="text/css" href='{% static "css/creativecommons.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/font-libertine.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/font-sniglet.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/font-awesome.min-4.6.3.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/common.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/baskerville.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/jquery-ui-1.11.0.bookcolor.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/jquery-ui-santaclara-widgets.css" %}'/>

</head>

<body>

<!-- 
     ----------------------------
     DOM
     ----------------------------
-->

  <header>
    <div id="headerlogo">
      <img src="{% static "images/logo-baskerville.png" %}"/>
    </div>
    <div id="headerbanner">
      Baskerville
    </div>
  </header>

  <nav>

    <a href="{% url 'home' %}">{% trans "Home" %}</a>
    <a href="{% url 'bibliography:catalog' %}">{% trans "Catalog" %}</a>
    <a href="{% url 'bibliography:categories' %}">{% trans "Categories" %}</a>

    <div class="submenu">
      <h1>{% trans "Publishers" %}</h1>
      <div class="items">
	<a href="{% url 'bibliography:publisher-list' %}">Case editrici</a><br/>
	<a href="{% url 'bibliography:publisherisbn-list' %}">ISBN</a><br/>
	<a href="{% url 'bibliography:publisherisbn-alpha' %}">Case editrici con ISBN non numerico</a><br/>
      </div>
    </div>

    <div class="submenu">
      <h1>{% trans "Books" %}</h1>
      <div class="items">
	<a href="{% url 'bibliography:book-list-alpha' %}">Libri con ISBN non numerico</a><br/>
	<a href="{% url 'bibliography:book-serie-without-isbn' %}">Collane senza ISBN</a>
      </div>
    </div>

    <div class="submenu">
      <h1>{% trans "Publications" %}</h1>
      <div class="items">
	<a href="{% url 'bibliography:publication-list' %}">{% trans "Publications" %}</a><br/>
	<a href="{% url 'bibliography:publication-list-alpha' %}">{% trans "Publications without ISSN" %}</a>
      </div>
    </div>

    <div class="submenu">
      <h1>{% trans "Authors" %}</h1>
      <div class="items">
	<a href="{% url 'bibliography:author-list' %}">{% trans "Authors" %}</a><br/>
	<a href="{% url 'bibliography:nameformatcollection-list' %}">{% trans "Name Format Collections" %}</a>
      </div>
    </div>

    <div class="submenu">
      <h1>{% trans "Tools" %}</h1>
      <div class="items">
	<a href="{% url 'bibliography:insert' %}">{% trans "Insert" %}</a><br/>
	<a href="{% url 'bibliography:author-search' %}">{% trans "Search author" %}</a><br/>
	<a href="{% url 'bibliography:author-insert' %}">{% trans "Insert author" %}</a><br/>
	<a href="{% url 'bibliography:publisher-create' %}">{% trans "Create publisher" %}</a><br/>
	<a href="{% url 'bibliography:author-create' %}">{% trans "Create author" %}</a><br/>
	<a href="{% url 'bibliography:book-create' %}">{% trans "Create book" %}</a><br/>
	<a href="{% url 'bibliography:categories-categorizer' %}">{% trans "Categorizer: category to category" %}</a><br/>
	<a href="{% url 'bibliography:books-categorizer' %}">{% trans "Categorizer: book to category" %}</a>
      </div>
    </div>

    <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>

  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>



<!-- 
     ----------------------------
     javascript 
     ----------------------------
-->
  
<script type="text/javascript" src='{% static "js/jquery-3.1.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery-ui-1.11.0.custom.js" %}'></script>
<script type="text/javascript" src='{% static "js/jcanvas-14.08.16.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery-ui-santaclara-widgets.js" %}'></script>

<script>//<![CDATA[    
$(document).ready(function() {
    jQuery(document).ajaxSend(function(event, xhr, settings) {
	function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
                    }
		}
            }
            return cookieValue;
	}
	function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		// or any other URL that isn't scheme relative or absolute i.e relative.
		!(/^(\/\/|http:|https:).*/.test(url));
	}
	function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	
	if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	}
    });
    {% block script %}{% endblock script %}
});

//]]></script>
				
</body>
</html>
