{% extends "base.html" %}
{% load i18n %}

{% block title %} - {% trans "Search author" %}{% endblock %}

{% block content %}
<h1>{% trans "Search author" %}</h1>

<p>Author not found.</p>

<form method="post" action="">
{% csrf_token %}

{% if form.non_field_errors %}
<p class="errors">{{ form.non_field_errors }}</p>
{% endif %}

{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

<table>
<tr>
  <td>{{ form.search }}</td>
  <td>{{ form.search.errors }}</td>
</tr>
</table>

<input type="submit" value="{% trans "search" %}" />
<input type="reset" value="{% trans "reset" %}" />

</form>
</div> 
</div> 

{% endblock %}


