{% extends "base.html" %}

{% block content %}
<table>
<tr><th colspan="2">{{ author.id }}</th></tr>
<tr>
  <th>format_collection</th>
  <td>{{ author.format_collection }}</td>
</tr>
{% for rel in author.personnamerelation_set.all %}
<tr>
  <th>{{ rel.name_type }}</th>
  <td>{{ rel.value }}</td>
</tr>
{% endfor %}
<tr><th>long name</th><td>{{ author.long_name }}</td></tr>
<tr><th>short name</th><td>{{ author.short_name }}</td></tr>
<tr><th>ordering name</th><td>{{ author.ordering_name }}</td></tr>
<tr><th>list name</th><td>{{ author.list_name }}</td></tr>
</table>

<a href="/bibliography/author/insert">New Insert</a>


{% endblock %}

{% block script %}

{% endblock %}
