{% extends "base.html" %}
{% block css %}
<script src="/static/js/d3.min.js"></script>

<style>

.node {
  stroke: #fff;
  /*stroke-width: 1.5px;*/
    stroke-width: 0px;
    font-size: 8pt;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#svg {
  display: block;
  overflow-x: scroll;
}

#commandbox {
    position: fixed;
    bottom: 1em;
    right: 1em;
    border: 1px solid black;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 1px 4px 0 rgba(107,0,0,0.60);
    -webkit-box-shadow: 0 1px 4px 0 rgba(107,0,0,0.60);
    -moz-box-shadow: 0 1px 4px 0 rgba(107,0,0,0.60);
    border-radius: 1em;
    -moz-border-radius: 1em;
    z-index: 10;
    padding: .5em;
    margin: .5em;
    width: 16em;
    font-size: 1em;
}

.commandcategory {
    border: 1px solid black;
    background: rgba(255,255,255,0.5);
    min-height: 3em;
    margin-top: .1em;
    margin-bottom: .1em;
}

.commandcategory th {
    background-color: rgb(138,168,11);
    width: 2em;
    text-align: center;
    border: 4px solid white;
    opacity: .5;
}

.commandcategory td {
    border: 0px;
}

.commandbox {
    border: 1px solid black;
}

.commandbox ul {
    margin: 0;
    list-style: none;
    padding: .2em;
}

.commandbox li:hover,
.commandbox li:active {
    color: white;
    background-color: rgb(25,90,136);
    background: linear-gradient(top,rgb(53,107,145),rgb(25,90,136));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(25,90,136)), to(rgb(53,107,145)));
    background: -webkit-linear-linear-gradient(top,rgb(53,107,145),rgb(25,90,136));
    background: -moz-linear-gradient(top,rgb(53,107,145),rgb(25,90,136));
    background: -ms-linear-gradient(top,rgb(53,107,145),rgb(25,90,136));
    background: -o-linear-gradient(top,rgb(53,107,145),rgb(25,90,136));
}

.commandbox a {
    display: block;
    color: rgb(25,90,136);
    width: 14.6em;
    background: transparent;
}

.commandbox a:active,
.commandbox a:hover {
    color: white;
}

.commandbox li {
    width: 15em;
    padding: .2em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    display: block;
    margin: 0;
    margin-top: .1em;
    margin-bottom: .1em;
    background: linear-gradient(top,rgba(255,255,255,.5),rgba(25,90,136,.5));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(25,90,136,.5)), to(rgba(255,255,255,.5)));
    background: -webkit-linear-linear-gradient(top,rgba(255,255,255,.5),rgba(25,90,136,.5));
    background: -moz-linear-gradient(top,rgba(255,255,255,.5),rgba(25,90,136,.5));
    background: -ms-linear-gradient(top,rgba(255,255,255,.5),rgba(25,90,136,.5));
    background: -o-linear-gradient(top,rgba(255,255,255,.5),rgba(25,90,136,.5));
    color: rgb(25,90,136);
}

</style>


{% endblock %}

{% block content %}
<h1>Category graph</h1>

<div id="svg"></div>

<div id="commandbox">
    <div id="commandsimul" class="commandbox">
      <ul>
	<li><a data-action="start" class="commandsimulaction" href="">start</a></li>
	<li><a data-action="stop" class="commandsimulaction" href="">stop</a></li>
	<li><a data-action="unhighlight" class="commandsimulaction" href="">unhighlight all</a></li>
	<li><a data-action="search" class="commandsimulaction" href="">search</a> <input id="search"/> </li>
      </ul>
    </div>
    <table id="commandfirst" class="commandcategory">
      <tr><th rowspan="2">1</th>
        <td id="cf_cat_id">&nbsp;</td></tr>
      <tr><td id="cf_name">&nbsp;</td></tr>
    </table>
    <table id="commandsecond" class="commandcategory">
      <tr><th rowspan="2">2</th>
        <td id="cs_cat_id">&nbsp;</td></tr>
      <tr><td id="cs_name">&nbsp;</td></tr>
    </table>
    <div id="commandcategory" class="commandbox">
      <ul>
	<li class="cfs_both"><a data-action="invert" class="commandcategoryaction" href="">invert selection</a></li>

        <li class="cf_only">
	  <a data-action="highlight_first" class="commandcategoryaction" href="">(un)highlight <i><span class="csub_f_name"></span></i> neighbours</a></li>
        <li class="cs_only">
	  <a data-action="highlight_second" class="commandcategoryaction" href="">(un)highlight <i><span class="csub_s_name"></span></i> neighbours</a></li>

        <li class="cf_only">
	  <a data-action="delete_first" class="commandcategoryaction" href="">delete <i><span class="csub_f_name"></span></i></a></li>
        <li class="cs_only">
	  <a data-action="delete_second" class="commandcategoryaction" href="">delete <i><span class="csub_s_name"></span></i></a></li>


        <li class="cf_only">
	  <a data-action="add_child_first" class="commandcategoryaction" href="">add child to <i><span class="csub_f_name"></span></i></a></li>
        <li class="cs_only">
	  <a data-action="add_child_second" class="commandcategoryaction" href="">add child to <i><span class="csub_s_name"></span></i></a></li>

        <li class="cf_only">
	  <a data-action="add_parent_first" class="commandcategoryaction" href="">add parent to <i><span class="csub_f_name"></span></i></a></li>
        <li class="cs_only">
	  <a data-action="add_parent_second" class="commandcategoryaction" href="">add parent to <i><span class="csub_s_name"></span></i></a></li>

	<li class="cfs_both">
	  <a data-action="merge" class="commandcategoryaction" href="">merge <i><span class="csub_s_name"></span></i> into <i><span class="csub_f_name"></span></i></a></li>
	<li class="cfs_both">
	  <a data-action="connect" class="commandcategoryaction" href="">connect <i><span class="csub_f_name"></span></i> to <i><span class="csub_s_name"></span></i></a></li>
    
      </ul>
    </div>
</div>

{% endblock content %}

{% block script %}

$.fn.filterByData = function(prop, val) {
    return this.filter(
        function() { return $(this).data(prop)==val; }
    );
}

{% if pk %}
var width = 1024, height = 800;
{% else %}
var width = 2048, height = 1600;
{% endif %}

var color = d3.scale.category20();

//var color = d3.interpolateRgb("#c0c0c0","000000");

{% if pk %}
var force = d3.layout.force()
    .charge(function (node,index) { return -30*node.level; } )
    .linkDistance(function (link,index) {
	if (!link.is_internal)
	    return 200;
	return 100-link.parent_level;
    })
    .size([width, height]);
{% else %}
var force = d3.layout.force()
    .charge(function (node,index) { return -30*node.level; } )
    //.charge(-120)
    .linkDistance(function (link,index) {
	if (!link.is_internal)
	    return 200;
	return 100-4*link.parent_level;
    })
    .size([width, height]);
{% endif %}

var svg = d3.select("#svg").append("svg")
    .attr("width", width)
    .attr("height", height);

var defs=svg.append("defs");

for(i=0;i<20;i++) {
    defs.append("marker").attr({
	"id": 'markerArrow'+String(i),
	"markerWidth": 4,
	"markerHeight": 4,
	"orient": "auto",
	"refX": 6,
	"refY": 2
    })
    .append("path").attr({
	"d": "M0,0 L4,2 L0,4 L0,0",
	"fill": color(i)
    });
}

$("#commandbox").draggable();
$("#commandfirst").hide();
$("#commandsecond").hide();
$("#commandcategory").hide();

//$("#commandbox").hide();

var selected_first=null;
var selected_second=null;

var selected_colors={
    "no": "#ffffff",
    "first": "#ffff00",
    "second": "#00ffff",
    "parent": "#ff0000",
    "child": "#0000ff",
    "search": "#00ff00"
};

var redraw_command_box = function(){

    if ( (!selected_second) && (!selected_first) ) {
	$("#commandfirst").hide();
	$("#commandsecond").hide();
	$("#commandcategory").hide();
	return;
    }

    $("#commandcategory").show();
	
    if (selected_first) {
	$("#commandfirst").show();
	$(".cf_only").show();
	$(".csub_f_name").html(selected_first.data("name"));
	$("#cf_name").html(selected_first.data("name"));
	$("#cf_cat_id").html(selected_first.data("cat_id"));
	$("#commandfirst th").css("background",color(selected_first.data("group")));
    }
    else {
	$("#commandfirst").hide();
	$(".cf_only").hide();
    }
	
    if (selected_second) {
	$("#commandsecond").show();
	$(".cs_only").show();
	$(".csub_s_name").html(selected_second.data("name"));
	$("#cs_name").html(selected_second.data("name"));
	$("#cs_cat_id").html(selected_second.data("cat_id"));
	$("#commandsecond th").css("background",color(selected_second.data("group")));
    }
    else {
	$("#commandsecond").hide();
	$(".cs_only").hide();
    }
    
    if ( (selected_second)&&(selected_first) )
	$(".cfs_both").show();
    else
	$(".cfs_both").hide();
    
};

$("#commandfirst th").css("border-color",selected_colors["first"]);
$("#commandsecond th").css("border-color",selected_colors["second"]);

var set_node_stroke=function(jq_node,color,width){
    var jq_circle=jq_node.find("circle.evidentiable");
    var circle=d3.select(jq_circle[0]);
    circle.style({"stroke": color,"stroke-width":width});
};

function dragnormal(d) {
  d3.select(this).classed("fixed", d.fixed = false);
}

function dragfixed(d) {
  d3.select(this).classed("fixed", d.fixed = true);
}

$(".commandsimulaction").click(function (event){
    event.preventDefault();
    var action=$(this).data("action");
    switch (action) {
    case "start":
	svg.selectAll(".node").each(function (d) { d.fixed=false; });
	force.start();
	break;
    case "stop":
	force.stop();
	svg.selectAll(".node").each(function (d) { d.fixed=true; });
	break;
    case "unhighlight":
	$(".node").each(function(){
	    $(this).data("highlight","no");
	    $(this).data("selected","no");
	    set_node_stroke($(this),selected_colors["no"],0);
	});
	selected_first=null;
	selected_second=null;
	redraw_command_box();
	break;
    case "search":
	var search_name=$("#search").val();
	console.log(search_name);
	$(".node").filterByData("name",search_name)
	    .each(function(){
		console.log($(this));
		$(this).data("highlight","search");
		set_node_stroke($(this),selected_colors["search"],2);
		var jq_text=$(this).find("text");
		jq_text.show();
	    });
	break;
    }
});

var highlight_neighbour = function(node,parent_or_child){
    var sel_vertex,other_vertex,label;
    switch (parent_or_child) {
    case "parent":
	sel_vertex="target_id";
	other_vertex="source_id";
	label="parent";
	break;
    default:
	sel_vertex="source_id";
	other_vertex="target_id";
	label="child";
	break;
    };

    $(".link")
	.filterByData(sel_vertex,node.data("cat_id"))
	.each( function(){
	    $(".node").filterByData("cat_id",$(this).data(other_vertex))
		.each(function(){
		    switch ($(this).data("highlight")) {
		    case label:
			$(this).data("highlight","no");
			switch ( $(this).data("selected") ) {
			case "no":
			    set_node_stroke($(this),selected_colors["no"],0);
			    break;
			default:
			    set_node_stroke($(this),selected_colors[$(this).data("selected")],2);
			    break;
			}
			break;
		    default:
			$(this).data("highlight",label);
			set_node_stroke($(this),selected_colors[label],2);
			break;
		    }
		});
	});
};

$(".commandcategoryaction").click(function (event){
    event.preventDefault();
    var action=$(this).data("action");

    switch (action) {
    case "highlight_first":
	if (!selected_first) break;
	highlight_neighbour(selected_first,"parent");
	highlight_neighbour(selected_first,"child");
	break;
    case "highlight_second":
	if (!selected_second) break;
	highlight_neighbour(selected_second,"parent");
	highlight_neighbour(selected_second,"child");
	break;
    case "invert":
	var temp=selected_first;
	selected_first=selected_second;
	selected_second=temp;
	
	if (selected_second) 
	    set_node_stroke(selected_second,selected_colors["second"],2);
	else
	    set_node_stroke(selected_second,selected_colors["no"],0);

	if (selected_first) 
	    set_node_stroke(selected_first,selected_colors["first"],2);
	else
	    set_node_stroke(selected_first,selected_colors["no"],0);
	
	redraw_command_box();
	break;
    }

});


d3.json("/bibliography/json/categories/nodeslinks/{{ parent_id }}", function(error, jsonobj) {
    var radius = d3.scale.linear()
	.domain([0, jsonobj.max_num_objects])
	.range([2,20]);
    
    force
	.nodes(jsonobj.nodes)
	.links(jsonobj.links)
	.start();
    
    var link = svg.selectAll(".link")
	.data(jsonobj.links)
	.enter()
	.append("line")
	.attr("class", "link")
	.attr("marker-end", function(d) { return "url(#markerArrow"+String(d.group)+")"; })
	.style({ "stroke-width": 1, "stroke": function(d) { return color(d.group); } });
    
    var node = svg.selectAll(".node")
	.data(jsonobj.nodes)
	.enter().append("g")
	.attr("class", "node")
	.call(force.drag);

    node.append("text")
	.attr("dx", 0)
	.attr("dy", 5)
	.attr("font-size",function(d){ return 16+jsonobj.max_level-d.level;})
	.style("fill", function(d) { return color(d.group); })
	.attr("class", function(d) { return "textlevel"+String(d.level); })
	.text(function(d) { return d.name });

    node.append("circle")
	.attr("r", function(d) { return Math.max(2,radius(d.num_objects)); })
	.attr("opacity",0.4)
	.attr("class","evidentiable")
	.style("fill", function(d) { return color(d.group); });
	
    node.append("circle")
	.attr("r", 2)
	.style("fill", function(d) { return color(d.group); });

    node.append("title")
	.text(function(d) { return d.name+" ("+d.branch+") ["+d.cat_id+"]"; });

    
    force.on("tick", function() {
	link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

	node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
	/*node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });*/
    });

    var opt_search=[];

    $(".node").each(function (){
	$(this).data("selected","no");
	$(this).data("highlighted","no");
	$(this).data({ 
	    "cat_id": $(this)[0].__data__["cat_id"], 
	    "name": $(this)[0].__data__["name"],
	    "level": $(this)[0].__data__["level"], 
	    "branch": $(this)[0].__data__["branch"],
	    "group": $(this)[0].__data__["group"],
	    "num_objects": $(this)[0].__data__["num_objects"]
	});
	opt_search.push($(this).data("name"));
    });

    $("#search").autocomplete({ source: opt_search });

    $(".link").each(function (){
	$(this).data("highlighted","no");
	$(this).data({
	    "parent_level": $(this)[0].__data__["parent_level"],
	    "group": $(this)[0].__data__["group"],
	    "is_internal": $(this)[0].__data__["is_internal"],
	    "source_id": $(this)[0].__data__["source"]["cat_id"],
	    "target_id": $(this)[0].__data__["target"]["cat_id"],
	});
    });

    for(i=jsonobj.min_level+2;i<=jsonobj.max_level;i++) {
	$(".textlevel"+String(i)).each(function (){ 
	    $(this).hide();
	});
    }


    $(".node").click(function(event){

	var jq_circle=$(this).find("circle.evidentiable");

	if (!event.shiftKey) {
	    var jq_text=$(this).find("text");
	    jq_text.toggle();
	    return;
	}

	var selected=$(this).data("selected");

	switch (selected) {
	case "first":
	    set_node_stroke($(this),selected_colors["no"],0);
	    selected_first=null;
	    $(this).data("selected","no");
	    break;
	case "second":
	    set_node_stroke($(this),selected_colors["no"],0);
	    selected_second=null;
	    $(this).data("selected","no");
	    break;
	default:
	    if ((selected_first) && (selected_second)) break;
	    if (selected_first) {
		set_node_stroke($(this),selected_colors["second"],2);
		selected_second=$(this);
		$(this).data("selected","second");
		break;
	    }
	    set_node_stroke($(this),selected_colors["first"],2);
	    selected_first=$(this);
	    $(this).data("selected","first");
	    break;
	}

	redraw_command_box();


    });

});


{% endblock script %}
