{% extends "base.html" %}
{% load i18n %}

{% block title %} - {% trans "Insert books" %}{% endblock %}

{% block content %}
<h1>{% trans "Insert ISBN list" %}</h1>

<form method="post" action="">
{% csrf_token %}

{% if form.non_field_errors %}
<p class="errors">{{ form.non_field_errors }}</p>
{% endif %}

{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

{{ form.errors }}
{{ form.errors.elenco }}

<div class="twocolumn">
{{ form.elenco }}

<p>Elenco di ISBN da inserire. Separati da spazi o a capi, la parte editore separata con un trattino dalla parte libro.</p>

<input type="submit" value="{% trans "save" %}" />
<input type="reset" value="{% trans "reset" %}" />
</div>

</form>
</div> 
</div> 

{% endblock %}


