{% extends "base.html" %}
{% load i18n %}

{% block title %} - {% trans "Create publisher" %}{% endblock %}

{% block content %}
<h1>{% trans "New publisher" %}</h1>

<form method="post" action="">
{% csrf_token %}

{% if form.non_field_errors %}
<p class="errors">{{ form.non_field_errors }}</p>
{% endif %}

{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

<table>
<tr>
  <th>{{ form.isbn.label }}</th>
  <td>{{ form.isbn }}</td>
  <td>{{ form.isbn.errors }}</td>
</tr>
<tr>
  <th>{{ form.name.label }}</th>
  <td>{{ form.name }}</td>
  <td>{{ form.name.errors }}</td>
</tr>
<tr>
  <td>{{ form.full_name.label }}</td>
  <td>{{ form.full_name }}</td>
  <td>{{ form.full_name.errors }}</td>
</tr>
<tr>
  <td>{{ form.url.label }}</td>
  <td>{{ form.url }}</td>
  <td>{{ form.url.errors }}</td>
</tr>
<tr>
  <td>{{ form.note.label }}</td>
  <td>{{ form.note }}</td>
  <td>{{ form.note.errors }}</td>
</tr>
<tr>
  <td>{{ form.alias.label }}</td>
  <td>{{ form.alias }}</td>
  <td>{{ form.alias.errors }}</td>
</tr>
</table>

<h2>Address</h2>

{{ address_formset.management_form }}
    <table>
      <tr><th rowspan="2">Pos</th><th rowspan="2">existing address</th><th colspan="3">new address</th></tr>
      <tr><th>city</th><th>existing state</th><th>new state</th></tr>
      
      {% for aform in address_formset %}
      <tr><td>{{ forloop.counter0 }}</td>
	<td>
	  {{ aform.address }}
	</td>
	<td>
	  {{ aform.city_name }}
	</td>
	<td>
	  {{ aform.state }}
	</td>
	<td>
	  {{ aform.state_name }}
	</td>
	<td>
	  {% if aform.non_field_errors %}
	  {{ aform.non_field_errors }}
	  {% endif %}
	  
	  {% for hidden in aform.hidden_fields %}{{ hidden }}{% endfor %}
	  {{ aform.address.errors }}
	  {{ aform.city_name.errors }}
	  {{ aform.state.errors }}
	  {{ aform.state_name.errors }}
	</td>
      </tr>
      {% endfor %}
    </table>

<hr/>

<input type="submit" value="{% trans "save" %}" />
<input type="reset" value="{% trans "reset" %}" />

</form>
</div> 
</div> 

{% endblock %}


