{% extends "base.html" %}

{% block content %}

<table>
<thead>
<tr>
  <th>isbns</th>
  <th>alias</th>
  <th>name</th>
  <th>addresses</th>
  <th>url</th>
  <th>note</th>
</tr>
</thead>

{% for publisher in object_list %}
<tbody>
<tr>
  <td>
    {% for isbn in  publisher.isbns.all %}
    {{ isbn }}</br>
    {% endfor %}
  </td>
  <td>{{ publisher.alias }}</td>
  <td>{{ publisher.show_name }}</td>
  <td>
    {% for address in  publisher.addresses.all %}
    {{ address }}<br/>
    {% endfor %}
  </td>
  <td><a href="{{ publisher.url }}">{{ publisher.url }}</a></td>
  <td>{{ publisher.note|truncatewords:16 }}</td>
</tr>
</tbody>
{% endfor %}
</table>

{% endblock %}

