{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}

<section class="index boxed">
  <h1 class="hidden">Index of site</h1>

  <div class="boxes">
    
    <div class="box">
      <a href="{% url 'bibliography:index' %}"><i class="fas fa-university"></i></a>
      
      <h2>{% trans "Library" %}</h2>
      
      <p>La nostra biblioteca.</p>
      
    </div>

    <div class="box">
      <a href="{% url 'recipebook:index' %}"><i class="fas fa-book"></i></a>
      
      <h2>{% trans "Recipe Book" %}</h2>
      
      <p>Il nostro libro di ricette.</p>
      
    </div>

    <div class="box">
      <a href="{% url 'archive:index' %}"><i class="fas fa-archive"></i></a>
      
      <h2>{% trans "Archive" %}</h2>
      
      <p>Foto e altro.</p>
      
    </div>

    <div class="box">
      <i class="fas fa-wrench"></i>
      
      <h2>{% trans "Tools" %}</h2>
      
      <p>Tools vari.</p>
      
    </div>


  </div>

</section>

{% endblock content %}
