{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}

<section class="index boxed">
  <h1 class="hidden">Index of site</h1>

  <div class="boxes">
    
    <section class="box">
      <a href="{% url 'bibliography:index' %}"><i class="fas fa-university"></i></a>
      
      <h2>{% trans "Library" %}</h2>
      
      <p>La nostra biblioteca.</p>
      
    </section>

    <section class="box">
      <a href="{% url 'recipebook:index' %}"><i class="fas fa-book"></i></a>
      
      <h2>{% trans "Recipe Book" %}</h2>
      
      <p>Il nostro libro di ricette.</p>
      
    </section>

    <section class="box">
      <a href="{% url 'archive:index' %}"><i class="fas fa-archive"></i></a>
      
      <h2>{% trans "Archive" %}</h2>
      
      <ul class="sub-boxes">

	<li>
	  <a href="{% url 'archive:photo_list' %}"><i class="fas fa-camera-retro"></i></a>
	  {% trans "Photos" %}
	</li>
	<li>
	  <a href="{% url 'archive:photo_list' %}"><i class="fas fa-file-alt"></i></a>
	  {% trans "Documents" %}
	</li>

      </ul>

    </section>

    <section class="box">
      <i class="fas fa-warehouse"></i>
      
      <h2>{% trans "Warehouse" %}</h2>
      
    </section>




  </div>

</section>

{% endblock content %}
