{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form method="post" action="">
{% csrf_token %}

    {{ formset.management_form }}
{{ formset.non_form_errors }}
{% for dict in formset.errors %}
<ul>
{% for key,error in dict %}
    <li>{{ key }}: {{ error }}</li>
{% endfor %}
</ul>
{% endfor %}
 

<input type="submit" value="{% trans "save" %}" />
<input type="reset" value="{% trans "reset" %}" />
<a class="button add-row" href="">add row</a>
    <table id="formtable">
      <tr><th>user</th><th>day</th><th>time</th><th>entry type</th><th>what</th><th colspan="2">quantity</th></th>
    {% for form in formset %}
        <tr id="formrow{{ forloop.counter0 }}">
          <td>{{ form.user }}</td>
          <td>{{ form.day }}<div class="other-day" id="other-day-{{ forloop.counter0 }}">{{ form.other_day }}</div></td>
          <td>{{ form.time }}<div class="other-time" id="other-time-{{ forloop.counter0 }}">{{ form.other_time }}</div></td>
          <td>{{ form.entry_type }}</td>
	  <td>{{ form.frequent_diary_entry }}
	    {{ form.recipe }} 
	    {{ form.product }}</td>
	  <td>{{ form.quantity }}</td>
	  <td>{{ form.measure_unit }}</td>
        </tr>
    {% endfor %}
    </table>
<input type="submit" value="{% trans "save" %}" />
<input type="reset" value="{% trans "reset" %}" />
<a class="button add-row" href="">add row</a> 

</form>


{% endblock %}

{% block script %}

var show_date_time=function(obj,type){
    var new_val=obj.val();
    var form_id=obj.attr("id").replace("id_form-","").replace("-"+type,"");
    if (new_val=="other") {
	$("#other-"+type+"-"+form_id).show();
    }
    else {
	$("#other-"+type+"-"+form_id).hide();
    }
};

$("[id$='-day']").change(function(event){
    show_date_time($(this),"day");
});

$("[id$='-time']").change(function(event){
    show_date_time($(this),"time");
});

$("[id$='-entry_type']").change(function(event){
    var new_val=$(this).val();
    var form_id=$(this).attr("id").replace("id_form-","").replace("-entry_type","");
    if (new_val=="recipe") {
	$("#id_form-"+form_id+"-frequent_diary_entry").hide();
	$("#id_form-"+form_id+"-recipe").show();
	$("#id_form-"+form_id+"-product").hide();
	$("#id_form-"+form_id+"-quantity").show();
	$("#id_form-"+form_id+"-measure_unit").show();
    }
    else if (new_val=="product") {
	$("#id_form-"+form_id+"-frequent_diary_entry").hide();
	$("#id_form-"+form_id+"-recipe").hide();
	$("#id_form-"+form_id+"-product").show();
	$("#id_form-"+form_id+"-quantity").show();
	$("#id_form-"+form_id+"-measure_unit").show();
    }
    else {
	$("#id_form-"+form_id+"-frequent_diary_entry").show();
	$("#id_form-"+form_id+"-recipe").hide();
	$("#id_form-"+form_id+"-product").hide();
	$("#id_form-"+form_id+"-quantity").hide();
	$("#id_form-"+form_id+"-measure_unit").hide();
    }
});

$("[id|='other-day']").hide();
$("[id|='other-time']").hide();
$("[id$='-recipe']").hide();
$("[id$='-product']").hide();
$("[id$='-quantity']").hide();
$("[id$='-measure_unit']").hide();

$(".add-row").click(function(event){
    event.preventDefault();
    var total_obj=$("#id_form-TOTAL_FORMS");
    var new_form_id=total_obj.val();
    var new_row=$("#formrow0").clone(true,true);
    var table=$("#formtable");
    
    new_row.attr("id","formrow"+new_form_id);
    console.log(new_row);

    new_row.find("[id|='id_form-0']").each(function(){
	var old_id=$(this).attr("id");
	var new_id=old_id.replace("0",new_form_id);
	var old_name=$(this).attr("name");
	var new_name=old_name.replace("0",new_form_id);
	$(this).attr("id",new_id).attr("name",new_name);
    });

    table.append(new_row);
    new_row.show();
    total_obj.val(parseInt(new_form_id)+1);

});

{% endblock %}
