{% extends "base.html" %}

{% block content %}

<h1>{{ p }} {{ userobj }} - {{ day }}</h1>


<table>
  <tr><th colspan="6" rowspan="3">&nbsp;</th>
    <th rowspan="3">kcal<br/>min: {{ ref_weight.base|floatformat:0 }}<br/>max: {{ ref_weight.need|floatformat:0 }}</th>
    <th colspan="2">fat</th>
    <th colspan="3">carbohydrate</th>
    <th rowspan="2">protein</th>
    <th rowspan="2">alcohol</th>
    <th rowspan="2">sodium<br/>{{ salt_reference.sodium.diseq|safe }} {{ salt_reference.sodium.g|floatformat:1 }} g</th>
    <th rowspan="2">potassium<br/>{{ salt_reference.potassium.diseq|safe }} {{ salt_reference.potassium.g|floatformat:1 }} g</th>
    <th rowspan="2">fiber<br/>{{ salt_reference.fiber.diseq|safe }} {{ salt_reference.fiber.g|floatformat:1 }} g</th>
    <th rowspan="2">water</th>
  </tr>
  <tr>
    <th>total</th><th>sat.</th>
    <th>total</th><th>sugar</th><th>added sugar</th>
  </tr>
  <tr>
    <th>g</th><th>g</th><th>g</th><th>g</th><th>g</th><th>g</th><th>g</th>
    <th>g</th><th>g</th><th>g</th><th>ml</th>
  </tr>
  {% for obj in object_list %}
  <tr{% if obj.future %} style="font-style:italic"{% endif %}{% if obj.product.high_processed %} style="background:#ffe0d0"{% endif %}>
    <td>{{ obj.time|time:"H:i" }}</td>
    <td>{{ obj }}</td>
    <td class="number">{{ obj.quantity|floatformat:1 }}</td>
    <td>{{ obj.measure_unit }}</td>
    <td class="number">{{ obj.quantity_real|floatformat:1 }}</td><td> {% if obj.product.value_for == "100 g" %}g&nbsp;{% else %}ml{% endif %}</td>
    
    <td class="number">{{ obj.kcal|floatformat:1 }}</td>
    <td class="number">{{ obj.fat|floatformat:1 }}</td>
    <td class="number">{{ obj.saturated_fat|floatformat:1 }}</td>
    <td class="number">{{ obj.carbohydrate|floatformat:1 }}</td>
    <td class="number">{{ obj.sugar|floatformat:1 }}</td>
    <td class="number">{{ obj.added_sugar|floatformat:1 }}</td>
    <td class="number">{{ obj.protein|floatformat:1 }}</td>
    <td class="number">{{ obj.alcohol|floatformat:1 }}</td>

    <td class="number">{{ obj.sodium|floatformat:3 }}</td>
    <td class="number">{{ obj.potassium|floatformat:3 }}</td>
    <td class="number">{{ obj.fiber|floatformat:3 }}</td>
    <td class="number">{{ obj.water|floatformat:0 }}</td>


  </tr>
  {% endfor %}
  <tr><th class="row" colspan="6">totals</th>
    <td class="number">{{ aggregates.kcal__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.fat__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.saturated_fat__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.carbohydrate__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.sugar__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.added_sugar__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.protein__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.alcohol__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates.sodium__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates.potassium__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates.fiber__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates.water__sum|floatformat:0 }}</td>

  </tr>
  <tr style="font-style:italic">
    <th class="row" colspan="6">totals (simulation)</th>
    <td class="number"
	{% if aggregates_simulation.kcal__sum >= ref_weight.base and aggregates_simulation.kcal__sum <= ref_weight.need %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ aggregates_simulation.kcal__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.fat__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.saturated_fat__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.carbohydrate__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.sugar__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.added_sugar__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.protein__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_simulation.alcohol__sum|floatformat:1 }}</td>
    <td class="number"
	{% if aggregates_simulation.sodium__sum <= salt_reference.sodium.g %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ aggregates_simulation.sodium__sum|floatformat:3 }}</td>
    <td class="number"
	{% if aggregates_simulation.potassium__sum >= salt_reference.potassium.g %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ aggregates_simulation.potassium__sum|floatformat:3 }}</td>
    <td class="number"
	{% if aggregates_simulation.fiber__sum >= salt_reference.fiber.g %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ aggregates_simulation.fiber__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates_simulation.water__sum|floatformat:0 }}</td>

  </tr>
  <tr><th class="row" colspan="6">from high processed food</th>
    <td class="number">{{ aggregates_high_processed.kcal__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.fat__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.saturated_fat__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.carbohydrate__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.sugar__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.added_sugar__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.protein__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.alcohol__sum|floatformat:1 }}</td>
    <td class="number">{{ aggregates_high_processed.sodium__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates_high_processed.potassium__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates_high_processed.fiber__sum|floatformat:3 }}</td>
    <td class="number">{{ aggregates_high_processed.water__sum|floatformat:0 }}</td>

  </tr>
</table>

<br/>

<table style="background:white">
  <tr><th></th><th>%</th><th>% simulation</th><th>% high processed</th><th>min</th><th>max</th></tr>

  <tr><th class="row">fat </th>         
    <td class="number" 
	{% if calories_percentual.fat >= calories_reference.fat.min and calories_percentual.fat <= calories_reference.fat.max %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ calories_percentual.fat|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.fat|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.fat|floatformat:2 }}</td>
    <td class="number">{{ calories_reference.fat.min }}</td>
    <td class="number">{{ calories_reference.fat.max }}</td>
  </tr>
  <tr><th class="row">saturated fat </th>         
    <td class="number"
	{% if calories_percentual.saturated_fat >= calories_reference.saturated_fat.min and calories_percentual.saturated_fat <= calories_reference.saturated_fat.max %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ calories_percentual.saturated_fat|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.saturated_fat|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.saturated_fat|floatformat:2 }}</td>
    <td class="number">{{ calories_reference.saturated_fat.min }}</td>
    <td class="number">{{ calories_reference.saturated_fat.max }}</td>
  </tr>
  <tr><th class="row">protein </th>     
    <td class="number"
	{% if calories_percentual.protein >= calories_reference.protein.min and calories_percentual.protein <= calories_reference.protein.max %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ calories_percentual.protein|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.protein|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.protein|floatformat:2 }}</td>
    <td class="number">{{ calories_reference.protein.min }}</td>
    <td class="number">{{ calories_reference.protein.max }}</td>
  </tr>
  <tr><th class="row">carbohydrate </th>
    <td class="number"
	{% if calories_percentual.carbohydrate >= calories_reference.carbohydrate.min and calories_percentual.carbohydrate <= calories_reference.carbohydrate.max %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ calories_percentual.carbohydrate|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.carbohydrate|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.carbohydrate|floatformat:2 }}</td>
    <td class="number">{{ calories_reference.carbohydrate.min }}</td>
    <td class="number">{{ calories_reference.carbohydrate.max }}</td>
  </tr>
  <tr><th class="row">sugar </th>         
    <td class="number"
	{% if calories_percentual.sugar >= calories_reference.sugar.min and calories_percentual.sugar <= calories_reference.sugar.max %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ calories_percentual.sugar|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.sugar|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.sugar|floatformat:2 }}</td>
    <td class="number">{{ calories_reference.sugar.min }}</td>
    <td class="number">{{ calories_reference.sugar.max|floatformat:0 }}</td>
  </tr>
  <tr><th class="row">added sugar </th>         
    <td class="number">{{ calories_percentual.added_sugar|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.added_sugar|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.added_sugar|floatformat:2 }}</td>
    <td></td>
    <td></td>
  </tr>
  <tr><th class="row">alcohol </th>         
    <td class="number">{{ calories_percentual.alcohol|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.alcohol|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.alcohol|floatformat:2 }}</td>
    <td></td>
    <td></td>
  </tr>
  <tr><th class="row">added sugar, saturated fat and alcool </th>         
    <td class="number"
	{% if calories_percentual.sofas >= calories_reference.sofas.min and calories_percentual.sofas <= calories_reference.sofas.max %}style="background:#a0ffa0"{% else %}style="background:#ff9020"{% endif %}>
	{{ calories_percentual.sofas|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_simulation.sofas|floatformat:2 }}</td>
    <td class="number" style="font-style:italic">{{ calories_percentual_high_processed.sofas|floatformat:2 }}</td>
    <td class="number">{{ calories_reference.sofas.min }}</td>
    <td class="number">{{ calories_reference.sofas.max }}</td>
  </tr>

</table>


<br/>

<table style="background:white">
  <tr><th colspan="2">micronutrient</th><th>mg</th><th style="font-style:italic">mg (simulation)</th><th>% rda</th><th style="font-style:italic">% rda (simulation)</th><th>rda (mg)</th><th>rda max (mg)</th></tr>
  {% for micro in micro_nutrients %}
  <tr{% if micro.rda_perc_simulation > 0 and micro.rda_perc_simulation < 100 %}
       style="background:{% if micro.rda_perc_simulation < 30 %}red{% elif micro.rda_perc_simulation < 60 %}orange{% else %}yellow{% endif %}"
      {% endif %}><th colspan="2">{{ micro.micro_nutrient }}</th>
    <td class="number">{{ micro.value|floatformat:3 }}</td>
    <td class="number" style="font-style:italic">{{ micro.value_simulation|floatformat:3 }}</td>
    <td class="number">{% if micro.rda_perc > 0 %}{{ micro.rda_perc|floatformat:3 }}{% endif %}</td>
    <td class="number" style="font-style:italic">{% if micro.rda_perc_simulation > 0 %}{{ micro.rda_perc_simulation|floatformat:3 }}{% endif %}</td>
    <td class="number">{% if micro.micro_nutrient.rda > 0 %}{{ micro.micro_nutrient.rda|floatformat:3 }}{% endif %}</td>
    <td class="number">{% if micro.micro_nutrient.rda_max > 0 %}{{ micro.micro_nutrient.rda_max|floatformat:3 }}{% endif %}</td></tr>
  {% for food,val in micro.details %}
  <tr><th>*</th><td>{{ food }}</td><td colspan="2" class="number">{{ val|floatformat:3 }}</td><td colspan="4"></td></tr>
  {% endfor %}
  {% endfor %}
</table>

{% endblock %}

