{% extends "base.html" %}

{% block content %}

{% include "includes/pagination.html" %}

<div class="filter">
<ul>
  {% for filter in filter_list %}
  <li><h1>Filter by {{ filter.name }}</h1>
    <ul>
    {% for label,selected,query in filter.params %}
    {% if selected %}
    <li class="selected"><div>{{ label }}</div></li>
    {% else %}
    <li><a href="{% url 'archive:photo_list' %}?{{ query }}"><div>{{ label }}</div></a></li>
    {% endif %}
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</div>

<table class="images">
{% for photo in photo_list %}
<tbody>
<tr>
  <td rowspan="4" class="center">
    <a href="{{ photo.get_absolute_url }}">
      <img {% if photo.rotated != "no" %}class='{% if photo.rotated == "180" %}rotate180{% elif photo.rotated == "90 cw" %}rotate270{% else %}rotate90{% endif %}'{% endif %}
	   src="{{ photo.thumb_url }}"/>
    </a>
  </td>
  <td>{{ photo.width }}x{{ photo.height }}</td>
  <td rowspan="4">{{ photo.description }}</td>
</tr>
<tr><td>{{ photo.datetime }}</td></tr>
<tr><td>{{ photo.mimetype }}</td></tr>
<tr><td>{{ photo.format }}</td></tr>
</tbody>
{% endfor %}
</table>

{% include "includes/pagination.html" %}

{% endblock %}

