{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form method="post" action="">
{% csrf_token %}

    {{ formset.management_form }}
<input type="submit" value="{% trans "save" %}" />
<input type="reset" value="{% trans "reset" %}" />
    <table>
      <tr><th>delete</th><th>category</th><th>fathers</th></tr>
    {% for form in formset %}
        {{ form.id }}
        <tr>
          {% if formset.can_delete %}
          <td>{{ form.DELETE }}</td>
          {% endif %}
          <td>{{ form.name }}</td>
          <td>{{ form.fathers }}</td>
        </tr>
    {% endfor %}
    </table>
<input type="submit" value="{% trans "save" %}" />
<input type="reset" value="{% trans "reset" %}" />

</form>


{% endblock %}

{% block script %}

{% endblock %}
