{% load css_tags %}

/*** font ***/

/* Awesome */

@font-face {
  font-family: 'FontAwesome';
  src: url('{{ FONTS }}/fontawesome-webfont.eot?v=4.0.0');
  src: url('{{ FONTS }}/fontawesome-webfont.eot?#iefix&v=4.0.0') format('embedded-opentype'),
    url('{{ FONTS }}/fontawesome-webfont.woff?v=4.0.0') format('woff'),
    url('{{ FONTS }}/fontawesome-webfont.ttf?v=4.0.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.0.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.awesome {
    font-family: 'FontAwesome';
}

/* Sniglet */

@font-face{
    font-family: Sniglet;
    src: url('{{ FONTS }}/Sniglet-webfont.woff'), 
         url('{{ FONTS }}/Sniglet-webfont.ttf'), 
         url('{{ FONTS }}/Sniglet-webfont.eot'),
         url('{{ FONTS }}/Sniglet-webfont.svg'); 
} 

.sniglet {
    font: 11pt Sniglet, serif;
}

/* Didact Gothic */

@font-face{
    font-family: DidactGothic;
    src: url('{{ FONTS }}/DidactGothic.ttf'), 
         url('{{ FONTS }}/DidactGothic.eot'); 
} 

.richstyle {
    font: 11pt DidactGothic, 'FreeSans', Helvetica, Arial, sans-serif;
}

/* Libre Baskerville */

@font-face{
    font-family: LibreBaskerville;
    src: url('{{ FONTS }}/LibreBaskerville-Regular.otf');
    font-style: normal;d
    font-weight: normal;
} 

@font-face{
    font-family: LibreBaskerville;
    src: url('{{ FONTS }}/LibreBaskerville-Italic.otf');
    font-style: italic;
} 

@font-face{
    font-family: LibreBaskerville;
    src: url('{{ FONTS }}/LibreBaskerville-Bold.otf');
    font-weight: bold;
} 

.baskerville {
    font: 11pt LibreBaskerville, 'FreeSerif', Garamond, Times, serif;
}

/* Creative commons */

@font-face{
    font-family: CC;
    src: url('{{ FONTS }}/cc-icons.ttf'), 
         url('{{ FONTS }}/cc-icons.eot'); 
} 

.cc {
    font: 12pt CC;
}

/*********************************************************/
/*** base objects (default)                            ***/
/*********************************************************/

body {
    /*font: 10pt LibreBaskerville, 'FreeSerif', Garamond, Times, serif;*/
    font: 11pt Times, Garamond, DidactGotic, serif;
    margin: 0;
    padding: 0;
    border: 0;
    background: {{ COLOR_BODY_BACK }};
    color: {{ COLOR_TEXT_FORE }};
}

a { 
    color: {{ COLOR_A_FORE }}; 
    background: {{ COLOR_A_BACK }};
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    width: 100%;
    {% border_radius "1em" %}
}

a:hover,a:active { 
    color: {{ COLOR_A_ACTIVE_FORE }}; 
    {% background_gradient "top" COLOR_A_ACTIVE_BACK_START COLOR_A_ACTIVE_BACK_STOP %}
}

/*********************************************************/
/*** layout                                            ***/
/*********************************************************/

/*** header ***/

#header {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 64px;
    left: 0;
    top: 0;
}

#headerlogo img {
    height: 64px;
}

#headerlogo {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 128px;
    height: 64px;
    left: 0;
    top: 0;
    text-align: center;
}

#headerbanner {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 64px;
    left: 128px;
    padding-left: 2em;
    right: 0;
    top: 0;
    font: 24pt LibreBaskerville, 'FreeSerif', Garamond, Times, serif;
    line-height: 64px;
    letter-spacing: 1em;
    color: {{ COLOR_HEADER_FORE }}; 
    {% background_gradient "top" COLOR_HEADER_BACK_START COLOR_HEADER_BACK_STOP %}
}

/*** content ***/

#content {
    position: absolute;
    top: 64px;
    left:128px;
    right: 0;
    margin: 0;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background: {{ COLOR_CONTENT_BACK }};
    min-height: 30em;
}

/** menu **/

#mainmenu {
    {% background_gradient "left" COLOR_MENU_BACK_START COLOR_MENU_BACK_STOP %}
    color: {{ COLOR_MENU_FORE }};
    width: 128px;
    padding: 0;
    margin: 0;
    padding-top: 2em;
    position: absolute;
    top: 64px;
    letf:0;
    min-height: 100%;
    bottom: 0;
}

#mainmenu a { 
    color: {{ COLOR_A_MENU_FORE }}; 
    background: {{ COLOR_A_MENU_BACK }};
    text-decoration: none;
}

#mainmenu a:hover, #mainmenu a:active { 
    color: {{ COLOR_A_MENU_ACTIVE_FORE }}; 
    {% background_gradient "left" COLOR_A_MENU_ACTIVE_BACK_START COLOR_A_MENU_ACTIVE_BACK_STOP %}
}

#mainmenu ul {
    list-style:none;
    padding: 0;
    margin:0;
}

#mainmenu li {
    padding: .5em;
}

.mainitem:hover, .mainitem:active {
    color: {{ COLOR_A_MENU_ACTIVE_FORE }}; 
    {% background_gradient "left" COLOR_A_MENU_ACTIVE_BACK_START COLOR_A_MENU_ACTIVE_BACK_STOP %}
}

.mainitem div {
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 500;
}

.mainitem ul {    
    z-index: 500;
    position:relative;
    left: 0;
    top: 0;
    right: 0;
    margin:0;
    padding:0;
    list-style:none;
    display: none;
}

.mainitem:hover ul {
    z-index: 500;
    display: inline;
}

.mainitem li {
    font-size: 90%;
}

.mainitem li:hover, .mainitem li:active {
    z-index: 500;
    color: {{ COLOR_A_MENU_ACTIVE_FORE }}; 
    {% background_gradient "top" COLOR_A_MENU_ACTIVE_BACK_START COLOR_A_MENU_ACTIVE_BACK_STOP %}
}

/*********************************************************/
/*** h#                                                ***/
/*********************************************************/

h1 {
    color: {{ COLOR_H1_FORE }};
    {% background_gradient "top" COLOR_H1_BACK_START COLOR_H1_BACK_STOP %}
    font-size: 160%;
    padding: .5em;
    {% border_radius "1em" %}
    column-span: all;
    -moz-column-span: all;
    -webkit-column-span: all;
}

h2 {
    color: {{ COLOR_H1_FORE }};
    border-bottom: 1pt solid {{ COLOR_H1_FORE }};
    font-size: 120%;
    padding-left: 0;
    column-span: all;
    -moz-column-span: all;
    -webkit-column-span: all;
}

/*h1.title {
    margin: 0;
    padding: 1em;
    text-align: center;
    color: {{ COLOR_H1_TITLE_FORE }};
    {% background_gradient "top" COLOR_H1_TITLE_BACK_START COLOR_H1_TITLE_BACK_STOP %}
    font-size: 200%;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}*/

/*********************************************************/
/*** table                                             ***/
/*********************************************************/

table {
    width: 100%;
    background: {{ COLOR_TABLE_BACK }};
}

td {
    border: 1px solid {{ COLOR_TABLE_BORDER }};
    text-align: left;
}

th {
    border: none;
    text-align: center;
    background: {{ COLOR_TABLE_TH_BACK }};
    color: {{ COLOR_TABLE_TH_FORE }};
}

th.row {
    text-align: right;
}

td.number {
    text-align: right;
}




/********** end verificato ****************************/

#pagetitle {
    position:relative;       
    padding: 0;
    z-index: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#pagetitle:before,#pagetitle:after { 
    display: block;
    content:"";
    position:absolute; 
    background: red;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10%;
    right:10%;
    -moz-border-radius: 200px / 10px;
    border-radius:200px / 10px;
    z-index: -1;
} 

/*****************************/
/*** layout           ***/
/*****************************/



/*** content ***/



.pagecontent {
    overflow: auto;
    text-align: justify;
    padding: 2em 2em 1em 2em;
    background: {{ COLOR_TEXT_BACK }};
    {% box_shadow SHADOW_TEXT %};
    {% border_radius "1em" %}
/*    {% columned "2" %} */
}

.pagefooter {
    text-align: right;
    color: {{ COLOR_TEXT_LOW_FORE }};
    margin-top: 2em;
    font-style: italic;
    font-size: .8em;
}

.pagecontent p {
    margin: 0pt;
    padding: 0;
    text-indent: 1em;
}

.pagecontent ol {
    padding-left: 4em;
    margin: 0;
}

.pagecontent li {
    text-indent: 1em;
}

.imagebox {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    z-index: 1;
}

.image {
    background: {{ COLOR_TEXT_BACK }};
    text-align: center;
    /*width: 95%;*/
    padding: 2.5%;
}

.image img {
    max-width: 95%;
    background: {{ COLOR_TEXT_BACK }};
}

.imagebox:before, .imagebox:after { 
    display: block;
    content:"";
    position:absolute; 
    background: red;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    top:10%;
    bottom:10%;
    left:0%;
    right:0%;
    -moz-border-radius: 10px / 200px;
    border-radius:10px / 200px;
    z-index: -1;
} 


img.bullet {
    float: left;
    padding: 0;
    margin: 0;
}

.pagemenu {
    float: right;
    margin: 0;
    margin-left: 1em;
    padding: 1em;
    padding-top: 2.5em;
    {% border_radius_pos "top-left" "50% 3em" %}
    {% border_radius_pos "top-right" "50% 3em" %}
    {% box_shadow SHADOW_TEXT %};
    background: {{ COLOR_MENU_BACK }};
}

.pagemenu p, .pagemenu h1, .pagemenu h2, .pagemenu h3  {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    background: transparent;
    color: {{ COLOR_MENU_FORE }};
}

.pagemenuitem {
    width: 100%;
    {% background_gradient "top" COLOR_MENU_ITEM_BACK_START COLOR_MENU_ITEM_BACK_STOP %}
    color: {{ COLOR_MENU_FORE }};
    padding-left: .2em;
    padding-right: .2em;
}

.pagemenuitem:hover, .pagemenuitem:hover a, .pagemenuitem a:hover,
.pagemenuitem a:active {
    {% background_gradient "top" COLOR_MENU_ITEM_ACTIVE_BACK_START COLOR_MENU_ITEM_ACTIVE_BACK_STOP %}
}

.pagemenuitem a:hover,
.pagemenuitem a:active {
    color: {{ COLOR_MENU_ITEM_ACTIVE_FORE }};
}


.pagemenu p.level1, .pagemenu h3 {
    padding-left: 1em;
}

.pagemenu p.level2 {
    padding-left: 2em;
}

.pagemenu h1 {
    text-align: center;
    margin-top: .5em;
    padding-top: .7em;
    padding-bottom: .7em;
}

.pagemenu a {
    padding: 0;
    margin: 0;
}

/*** style ***/

.shadow-prim {
    {% box_shadow SHADOW_PRIM %};
}

.tabitem:hover, .tabitem:active {
    color: {{ COLOR_A_TABMENU_ACTIVE_FORE }}; 
    {% background_gradient "top" COLOR_A_TABMENU_ACTIVE_BACK_START COLOR_A_TABMENU_ACTIVE_BACK_STOP %}
    {% box_shadow SHADOW_TABMENU_ACTIVE %};
}

.tabitem, .tabitemselected {
    font-size: .8em;
    display: inline-block;
    width: 100%;
    margin: 0;
    margin-left: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-top:0.1em;
    padding-bottom:0.1em;
    padding-right: .1em;
    margin-bottom: .1em;
}

.tabitem {
    {% background_gradient "top" COLOR_TABMENU_ITEM_BACK_START COLOR_TABMENU_ITEM_BACK_STOP %}
    {% box_shadow SHADOW_TABMENU %};
}

.tabitemselected, .tabitemselected:hover, .tabitemselected:active {
    {% box_shadow SHADOW_TABMENU_ACTIVE %};
    background: {{ COLOR_A_TABMENU_BACK }};
    color: {{ COLOR_A_TABMENU_FORE }};
    cursor: default;
}

/*
.tabcontainer {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    heigth: fit-content;
    heigth: -moz-fit-content;
    heigth: -webkit-fit-content;
    position: relative;
}
*/

.tabmenu {
    {% columned "3" %}
    display: inline-block;
    padding: 0;
}

.tabmenu a {
    margin: 0;
    padding: 0;
    background: {{ COLOR_A_TABMENU_BACK }};
}

.tabmenu a:hover, .tabmenu a:active { 
    color: {{ COLOR_A_TABMENU_ACTIVE_FORE }}; 
}

.removed {
    display:none;
    overflow:hidden;
    height:0;
    line-height:0;
    border:0;
    margin:0;
    padding:0
}

.tabscheda h1 {
    text-align: right;
    font-size: 130%;
    padding-left: 2pt;
}

.sc-tree-data:hover,
.sc-tree-data:active {
    color: {{ COLOR_A_ACTIVE_FORE }};
    {% background_gradient "top" COLOR_A_ACTIVE_BACK_START COLOR_A_ACTIVE_BACK_STOP %}
    cursor: pointer;
}

.form {
    {% box_shadow SHADOW_FORM %};
    background-color: {{ COLOR_FORM_BACK }};
    padding: 1em;
    margin-top: 1em;

}

input[type=text],
input[type=password],
textarea {
    width: 95%;
    background: {{ COLOR_TEXT_BACK }};
    {% box_shadow SHADOW_FORM_INPUT %};
}

select, option {
    padding-left: .2em;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 95%;
}

.form th {
    text-align: center;
    padding: .4em;
    padding-right: 1em;
    font-weight: normal;
    border: none;
    background-color: {{ COLOR_FORM_BACK }};
}

.form td {
    border: none;
    text-align: center;
}

.form h1 {
    font-size:110%;
    background: {{ COLOR_FORM_BACK }};
    text-align: center;
}

input[type=text],
textarea, select,
input[type=password] {
    border: 1px solid {{ COLOR_TEXT_FORE }};
}

select, 
option {
    color: {{ COLOR_TEXT_FORE }};
    background-color: {{ COLOR_TEXT_BACK }};
}

.form a,
a.button,
input[type=submit],
input[type=reset],
input[type=button] {
    {% border_radius "1em" %}
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 1em;
    color: {{ COLOR_A_FORE }}; 
    {% background_gradient "top" COLOR_MENU_ITEM_BACK_START COLOR_MENU_ITEM_BACK_STOP %}
}

.form a:hover,
a.button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.form a:active,
a.button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active {
    color: {{ COLOR_A_MENU_ACTIVE_FORE }}; 
    {% background_gradient "top" COLOR_A_MENU_ACTIVE_BACK_START COLOR_A_MENU_ACTIVE_BACK_STOP %}
    {% box_shadow SHADOW_MENU_ACTIVE %};
}

.form table {
    margin-top: 1em;
}

canvas {
    background: {{ COLOR_TEXT_BACK }};
}

.canvascontainer {
    margin: 1em;
    padding: 1em;
    {% box_shadow SHADOW_FORM %};
    overflow: auto;
    width: 95%;
    height: 1000px;
    position: relative;
}