section.boxed {
    padding: 2em;

    p {
	max-width: 30em;
	-moz-text-align-last: center;
	-webkit-text-align-last: center;
	text-align-last: center;
    }

    img {
	width: 50vw;
	margin: auto;
	max-width: 30em;
	margin-top: 1em;
	margin-bottom: 1em;
	min-width: 300px;
    }

    div.boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;

	align-items: stretch;
	align-content: center;

	max-width: 1300px;
	margin: auto;
	margin-top: 1em;

	position: relative;

	&.box3 {
	    .box {
		width: 30%;
	    }
	}

	&.box4 {
	    .box {
		width: 22%;
	    }
	}

	section.box {
	    min-width: 300px;
	    margin-top: .5em;

	    padding: 1em;

	    border: 1px solid @primhard4;

	    .fas {
		font-size: 180%;
		color: @primhard4;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		.outshadow(0,0,3px,0px,fadeout(@primhard4,50%));
		width: 2em;
		height: 2em;
		line-height: 2em;
		margin-bottom: .2em;
	    }

	    h2, h3 {
		background: none;
		border: none;
		padding-left: 0;
		padding: 0;
	    }

	    ul.sub-boxes {
		width: 90%;
		margin: auto;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;

		
		li {
		    width: 100%;
		    text-align: left;
		    padding: .5em;
		    .fas {
			font-size: 120%;
		    }
		    a {
			display: inline-block;
			text-align: center;
			margin-right: 1em;
		    }

		}

	    }


	}

    }




}
